@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    [data-nextjs-scroll-focus-boundary] {
        display: contents;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

[data-nextjs-scroll-focus-boundary] {
    display: contents;
}

html,
body {
  max-width: 100vw;
}
